<div class="container">
  <form [formGroup]="mainForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="main-card">
      <mat-card-header>
        <mat-card-title>Indian State Information Visualizer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-radio-group formControlName="isCPIChecked">
              <mat-radio-button (change)="onRadioGSPD()" value="false"
                >Gross State Domestic Product (GSDP)</mat-radio-button
              >
              <mat-radio-button (change)="onRadioCPI()" value="true"
                >Consumer Price Index (CPI)</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
        <div class="cpi-card" *ngIf="dataStartOptions.optionCPI">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Area" formControlName="cpiArea">
                  <mat-option *ngFor="let area of areas" [value]="area">
                    {{ area }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="mainForm.controls['cpiArea'].hasError('required')"
                >
                  Area is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Year" formControlName="cpiYear">
                  <mat-option *ngFor="let year of cpiYear" [value]="year">
                    {{ year }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="mainForm.controls['cpiYear'].hasError('required')"
                >
                  CPI Year is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Month (Optional)" formControlName="cpiMonth">
                  <mat-option *ngFor="let month of cpiMonth" [value]="month">
                    {{ month }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="gsdp-card" *ngIf="!dataStartOptions.optionCPI">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="State" formControlName="state">
                  <mat-option *ngFor="let state of states" [value]="state">
                    {{ state }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="mainForm.controls['state'].hasError('required')"
                >
                  State is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row" *ngIf="dataStartOptions.twoStates">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select
                  placeholder="Second state"
                  formControlName="secStates"
                >
                  <mat-option
                    *ngFor="let secState of secStates"
                    [value]="secState"
                  >
                    {{ secState }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    mainForm.controls['secStates'].hasError('twoSameStates')
                  "
                >
                  Both the states are <strong>same</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-card-actions>
          <button
            mat-raised-button
            class="btn btn-primary"
            type="submit"
            [disabled]="mainForm.invalid && mainForm.touched"
          >
            Submit
          </button>
          <button
            mat-raised-button
            class="btn btn-primary"
            type="button"
            id="btnSend"
            (click)="onBeingCompared()"
            *ngIf="!dataStartOptions.optionCPI"
          >
            Compare
          </button>
        </mat-card-actions>
      </mat-card-content>
      <!-- <button
        mat-raised-button
        class="btn btn-primary"
        type="button"
        id="btnSend"
        (click)="onClickFetch()"
      >
        Fetch
      </button> -->
    </mat-card>
  </form>
  <app-data-start-item></app-data-start-item>
</div>
