<div class="container">

<form [formGroup]="stateForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Indian State Information Visualizer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="shipping">
            <mat-radio-button value="gsdp"
              >Gross State Domestic Product (GSDP)</mat-radio-button>
            <mat-radio-button value="CPI"
              >Consumer Price Index (CPI)</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="State" formControlName="state">
              <mat-option
                *ngFor="let state of states"
                [value]="state">
                {{ state }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="stateForm.controls['state'].hasError('required')">
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="compareToggle">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Second state" formControlName="secState">
              <mat-option
              *ngFor="let secState of secStates"
              [value]="secState">
              {{ secState }}
            </mat-option>
          </mat-select>
          <mat-error
          *ngIf="stateForm.controls['secState'].hasError('twoSameStates')">
          Both the states are <strong>same</strong>
        </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="btn btn-primary" type="submit" [disabled]="stateForm.invalid && stateForm.touched">Submit</button>
      <button
        mat-raised-button
        class="btn btn-primary"
        type="button"
        id="btnSend"
        (click)="onBeingCompared()">
        Compare two states
      </button>
      <!-- <button
        mat-raised-button
        class="btn btn-primary"
        type="button"
        id="btnSend"
        (click)="onSendReq()">
        Send
      </button> -->
    </mat-card-actions>
  </mat-card>
</form>
<app-data-start-item></app-data-start-item>
</div>
