<div class="backdrop" *ngIf="!inputData">
  <div class="container container-vis">
    <h5 class="text-center" style="color: skyblue;">Give Input!</h5>
  </div>
</div>
<div class="backdrop" *ngIf="noChart && inputData">
  <div class="container container-vis">
    <h5 class="text-center" style="color: skyblue;">Visualizer Idle!</h5>
  </div>
</div>
<app-visualizer (noChart)="noChartListener($event)"></app-visualizer>
<div class="card" *ngIf="timeComplexity">
  <div class="container container-vis card-body">
    <h5 class="card-title text-center" style="color:sandybrown;">Time Complexity</h5>
    <p class="text-center card-body">{{timeComplexity}}</p>
  </div>
</div>
