<div class="backdrop" *ngIf="!inputData">
  <div class="container container-vis">
    <h5 class="text-center" style="color: skyblue;">Give Input!</h5>
  </div>
</div>
<div class="backdrop" *ngIf="noChart && inputData">
  <div class="container container-vis">
    <h5 class="text-center" style="color: skyblue;">Visualizer Idle!</h5>
  </div>
</div>
<app-visualizer (noChart)="noChartListener($event)"></app-visualizer>
<div class="card" *ngIf="timeComplexity">
  <div class="container container-vis">
    <h4 class="card-title text-center" style="color:sandybrown;">Time Complexity</h4>
    <div class="card-body text-center">
      <h5>{{timeComplexity[0]}}</h5>
      <h6>{{timeComplexity[1]}}</h6>
      <h6>{{timeComplexity[2]}}</h6>
      <h6>{{timeComplexity[3]}}</h6>
    </div>
  </div>
</div>
