<div class="container">
  <div class="jumbotron">
    <h1 class="display-5">Data visualizer</h1>
    <p class="lead">A neat app that visualizes some of the intresting data around us.</p>
  </div>
</div>
<hr class="my-2">
<div class="container">
  <button type="button" class="btn btn-primary btn-lg" (click)="collapse.toggle()">
    START
  </button>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <a routerLink="/sort-start" class="card-title text-center">
          <h4 ngbPopover="See a visualized bubble, insertion, selection, quick and merge sort" placement="top"
            triggers="mouseenter:mouseleave" popoverTitle="Sorting algorithm"> Sorting</h4>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <a routerLink="/temp-start" class="card-title text-center">
          <h4 ngbPopover="See the historic change in the temperature around the world." placement="top" triggers="mouseenter:mouseleave" popoverTitle="Temperature change">Temperature change visualizer</h4>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <a routerLink="/data-start" class="card-title text-center">
          <h4 ngbPopover="See the change in state GDP of India" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Indian state data">
            Indian state data</h4>
        </a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
