<div class="jumbotron">
  <h1 class="display-5">Hey, awesome you!</h1>
  <p class="lead">This is a simple hero unit, showing that anyone can be a real
    hero!.</p>
  <hr class="my-2">
</div>
<ngb-accordion #acc="ngbAccordion">
  <ngb-panel [disabled]="disabled" [cardClass]="disabled ? 'disabled' : ''">
    <ng-template ngbPanelHeader let-opened="opened">
      <button ngbPanelToggle class="btn btn-outline container-fluid">Third panel</button>
    </ng-template>
    <!-- <ngb-panel id="toggle-1"> -->
    <ng-template ngbPanelContent class="list-items">
      <input ngbButtonLabel type="button" class="btn btn-primary" value="Sort">
      <input ngbButtonLabel type="button" class="btn btn-primary" value="Search">
      <input ngbButtonLabel type="button" class="btn btn-primary" value="Path Finder">
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<router-outlet></router-outlet>
